* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    
    font-family: adobe-clean-han-japanese,adobe-clean,Hiragino Kaku Gothic ProN,Yu Gothic,"\30E1 \30A4 \30EA \30AA","\30D2 \30E9 \30AE \30CE \89D2 \30B4 Pro W3",Hiragino Kaku Gothic Pro W3,Osaka,"\FF2D \FF33 \FF30 \30B4 \30B7 \30C3 \30AF",MS PGothic,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;
}
button {
    background: none;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.Main_Primary {
    background-color: #eeecec;
}
.FortniteIntroduction{
    padding-top: 3px;
    display: flex;
    background-color: #f5f5f5;
}
.FortniteIntroduction__Container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
.FortniteIntroduction__Container-Text{
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 700;
    height: 50px;
    line-height: 55px;
    text-align: center;
}
.FortniteIntroduction__Image{
    margin-right: auto;
    margin-top: 10px;
    margin-left: 150px;
}
.FortniteIntroduction__Container-button{
    font-weight: 700;
    margin-top: 3px;
    margin-right: 50px;
    margin-left: auto;
}
.SecondHeaderContainer{
    width: 500px;
    height: 80px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.SecondHeaderContainer__GameIntroduction{
    text-align: center;
    font-weight: 700;
    width: 150px;
    line-height: 80px;
}
.FortniteCatchcopy{
    padding-top: 30px;
    padding-bottom: 30px;
}
.FortniteCatchcopy__Text{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}
.Image{
    width: 100%;
    height: 100%;
}
.FortniteSecondCatchcopy{
    text-align: center;
    padding-bottom: 50px;
}
.FooterImage{
    width: 100%;
    vertical-align: top;
}
.TopImage__Spidreman{
    width: 100%;
    vertical-align: top;
}
.AboveContainer__Box__ButtonContainer--button{
    display: block;
    width: 100px;
    height: 30px;
    cursor: pointer;
    font-weight: 700;
    color: white;
    background-color: #1373e6;
    border-radius: 50px;
    margin: 0 auto;
}
.AboveContent{
    display: flex;
    flex-wrap: wrap;
    width: clamp(300px,100%,1160px);
    margin: 0 auto;
    gap: 37px;
    padding: 0 37px;
}
.AboveContainer{
    width: 300px;
    display: flex;
    text-align: center;
    background-color: white;
}
span{
    display: block;
    flex-wrap: wrap;
}
.AboveContainer__Box__Container--IntroductionText{
    font-size: 90%;
    font-weight: 700;
    text-align: center;
    color: rgb(131, 131, 131);
    
}
.FortniteSecondCatchcopy{
    padding-top: 50px;
}








