* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: adobe-clean-han-japanese,adobe-clean,Hiragino Kaku Gothic ProN,Yu Gothic,"\30E1 \30A4 \30EA \30AA","\30D2 \30E9 \30AE \30CE \89D2 \30B4 Pro W3",Hiragino Kaku Gothic Pro W3,Osaka,"\FF2D \FF33 \FF30 \30B4 \30B7 \30C3 \30AF",MS PGothic,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;
}
button {
    background: none;
    border: none;
    outline: none;
    
}